.sign-up-container{

    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 170px auto;
    min-height: calc(63svh - 220px);

}

.sign-up-container h1{
    margin-bottom: 30px;

}

.sign-up-container input{
    width: 500px;
    padding: 15px 30px;
    border: none;
    background-color: #f3f5f8;
    box-sizing: border-box;
    margin-top: 6px;
}

.sign-up-container button{
    margin-top: 20px;
    width: 100%;
}

.sign-up-container p{
    margin-top: 30px;
}

.sign-up-container a{
    font-size: large;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.sign-up-container a:hover {
    color: #40ba37;
  }